.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.video_wrapper {
  height: 90vh;
}

.video_container {
  height: 100%;
  padding: 0;
  margin: 0;
}
.body {
  padding: 0;
  margin: 0;
}

@media (min-width: 768px) {
  .video_wrapper {
    padding-top: 5vh;
    padding-bottom: 5vh;
  }
}

@media (min-width: 1024px) {
  .video_wrapper {
    padding-top: 5vh;
    padding-bottom: 5vh;
  }
}
