.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.video_wrapper {
  margin: 10vh auto;
}

.video_container {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

@media screen and (min-aspect-ratio: 16/9) {
  .video_container {
    height: 90vh;
    width: calc(90vh * 16 / 9);
  }
}

@media screen and (max-aspect-ratio: 16/9) {
  .video_container {
    width: 90vw;
    height: calc(90vw * 9 / 16);
  }
}

@media screen and (max-width: 768px) {
  .video_wrapper {
    margin: 0 auto;
  }
  
  .video_container {
    width: 100vw;
    height: calc(100vw * 9 / 16);
  }
}
