.container {
  height: 100vh;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
}

* {
  padding: 0;
  margin: 0 !important;
}

.video_wrapper {
  position: relative;
}
.sound-icon {
  position: absolute;
  top: 40px;
  right: 39%;
  cursor: pointer;
  z-index: 1;
}

@media only screen and (max-width: 768px) {
  .video_wrapper {
    height: 100%;
    width: 100%;
    padding-top: 0;
    padding-bottom: 0;
    scroll-snap-align: center;
  }
  .video_container {
    height: 100vh;
    width: 100vw;
    padding: 0;
    margin: 0;
    object-fit: fill !important;
  }
  .sound-icon {
    top: 25px;
    right: 4%;
  }
}

@media (min-width: 768px) {
  .video_wrapper {
    height: 90vh;
    padding-top: 5vh;
    padding-bottom: 5vh;
    scroll-snap-align: center;
  }
  .video_container {
    height: 100%;
    padding: 0;
    margin: 0;
  }
}
